<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>오늘 어때?</title>
</head>
<body>
	<form class="default">
		<div>
			<img src="..." class="img-fluid" alt="...">
		</div>
		<div class="row my-3">
			<div class="col-3">
				<input type="submit" id="weather" class="btn btn-primary" value="날씨">
				<img>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-3">
				<input type="submit" id="co" class="btn btn-warning" value="알림받기">
				<img>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-3">
				<input type="submit" id="de" class="btn btn-danger" value="알람삭제" >
				<img>
			</div>
		</div>
	</form>
</body>
</html>