<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">		
	<!-- content -->
	<div layout:fragment="content" class="row my-5" id="global-content">
	<th:block>
		<link href="/css/member.css" rel="stylesheet" />
	</th:block>
		<div class="col">
			<form class="my-5" id="loginForm" action="login" method="post">
				<h2 class="fw-bold">Member Login</h2>
				<fieldset>	
					<legend>Member Loin</legend>
					<div id="login">
						<p>
							<label for="userId" class="labelStyle">아이디</label>
							<input type="text" id="userId" name="userId" />
						</p>
						<p>
							<label for="userPass" class="labelStyle">비밀번호</label>
							<input type="password" id="userPass" name="pass"/>
						</p>
					</div>
						<input type="submit" value="로그인" id="btnLogin" />
					<div id="searchBtn">
						<p>
							<a href="javascript:void(0)" class="text-decoration-none link-dark" id="searchId">아이디 찾기</a> | 	<a href="" class="text-decoration-none link-dark" id="searchPass">비밀번호 찾기</a> | 	<a href="joinForm" class="text-decoration-none link-dark" id="Register">회원 가입</a>
						</p>
					</div>
				</fieldset>
			</form>
		</div>
		<th:block>
		</th:block>
	</div>
</html>