<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_layout}">
<head>
<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
<title>오늘의 날씨</title>
</head>

<body>
	<th:block layout:fragment="content">
		<h1>[테스트] 오늘의 날씨</h1>

		<!-- 날씨 데이터가 있는 경우 -->
		<table class="table">
			<thead>
				<tr>
					<th>날짜</th>
					<th>시간</th>
					<th>카테고리</th>
					<th>값</th>
					<th>NX</th>
					<th>NY</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${weatherItems}">
					<td th:utext="${item.baseDate}"></td>
					<td th:utext="${item.baseTime}"></td>
					<td th:utext="${item.category}"></td>
					<td th:utext="${item.obsrValue}"></td>
					<td th:utext="${item.nx}"></td>
					<td th:utext="${item.ny}"></td>
				</tr>
				<div>
					<h1>Weather Data</h1>
					<p>
						Temperature: <span th:text="${weatherData.temperature}"></span>
					</p>
					<p>
						Condition: <span th:text="${weatherData.condition}"></span>
					</p>
				</div>
			</tbody>
		</table>
	</th:block>
</body>

</html>
