<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<div th:fragment="header" class="row border-bottom border-primary">
	<style>
/* 전체 페이지 스타일 */
nav#menu {
	text-align: left;
	width: 500px;
	margin: auto;
	justify-content: flex-start !important; /* 왼쪽 정렬 */
}
</style>
	<!-- 헤더 이미지 로고 -->
	<div class="col-4">
		<a th:href="main"> <img src="/images/main.gif"
			style="width: 65%; height: auto; max-width: 100px;">
		</a>
	</div>
	<div class="col-8">
		<div class="row">
			<div class="col">
				<ul class="nav justify-content-end">
					<li class="nav-item"><th:block th:unless="${session.isLogin}">
							<a class="nav-link" th:href="@{loginForm}">로그인</a>
						</th:block> <th:block th:if="${session.isLogin}">
							<!--/* MemberController를 통해서 로그아웃 처리 */-->
							<a class="nav-link" th:href="@{memberLogout}">로그아웃</a>
						</th:block></li>
					<!-- Modal Login Form -->
					<!-- <li class="nav-item"><th:block th:unless="${session.isLogin}">
							<a class="nav-link" th:href="@{#}"
								th:attrappend="data-bs-toggle='modal', data-bs-target='#loginModal'">
								로그인-모달</a>
						</th:block> Modal Logout Form <th:block th:if="${session.isLogin}">
							<a class="nav-link" th:href="@{logout}">로그아웃-모달</a>
						</th:block></li> -->
					<li class="nav-item"><a class="nav-link" th:href="@{main}">HOME</a>
					</li>
					<li class="nav-item"><th:block th:unless="${session.isLogin}">
							<a class="nav-link" href="joinForm">회원가입</a>
						</th:block></li>
					<li class="nav-item"><th:block th:if="${session.isLogin}">
							<a class="nav-link" href="memberUpdateForm">정보 수정</a>
						</th:block>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col text-end text-primary pe-5">
				<div th:if="${session.isLogin}">[[${session.member != null} ?
					${session.member.id}]]님 방문을 감사합니다.</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<nav id="menu" class="btn-group" role="group"
					aria-label="Basic outlined example">
					<a th:href="weather" class="btn btn-outline-primary">날씨</a> <a
						href="#" class="btn btn-outline-primary">운세</a> <a href="#"
						class="btn btn-outline-primary">소식</a> <a href="#"
						class="btn btn-outline-primary">고객센터</a>
				</nav>
			</div>
		</div>
	</div>
</div>
</html>