<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_layout}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>오늘의 날씨</title>
<style>
.container {
	width: 800px !important;
}

input {
	width: 100px;
}

th {
	background-color: #f8f8f8 !important;
	text-align: center !important;
}

td {
	text-align: center;
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pt-5">
					<div class="card mb-4">
						<h5 class="card-header text-center">오늘의 날씨</h5>
						<div class="card-body">
							<div class="col-md-12 text-center">
								<table width="80%" style="margin: auto; text-align: center;">
									<tr>
										<td>예보지점 x값(nx)</td>
										<td><input type="text" id="nx" name="nx" value="" /></td>
										<td>예보지점 y값(ny)</td>
										<td><input type="text" id="ny" name="ny" value="" /></td>
									</tr>
									<tr>
										<td>날짜(baseDate)</td>
										<td><input type="text" id="baseDate" name="baseDate"
											value="" /></td>
										<td>시간(baseTime)</td>
										<td><input type="text" id="baseTime" name="baseTime"
											value="" /></td>
									</tr>
								</table>
								<br />
								<button type="button" class="btn btn-outline-success"
									id="btn_weather">날씨 예보 조회</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="result">
				<div class="col-md-12">
					<table class="table table-bordered" id="resultTable"
						style="display: none;">
						<colgroup>
							<col width="150px">
							<col width="150px">
							<col width="150px">
							<col width="150px">
							<col width="150px">
							<col width="150px">
						</colgroup>
						<thead>
							<tr>
								<th>일자</th>
								<th>시간</th>
								<th>날씨</th>
								<th>강수형태</th>
								<th>기온</th>
								<th>습도</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
		<script th:src="@{js/jquery-3.7.1.min.js}"></script>
		<script th:src="@{js/weather.js}"></script>
</body>
</th:block>
</html>